[Unit]
Description=Calibre webserver
After=network.target

[Service]
Type=exec
ExecStart=/usr/bin/cps
Restart=always
User=calibreweb
Group=calibreweb

[Install]
WantedBy=default.target
