[Unit]
Description=Calibre webserver
After=network.target

[Service]
Type=exec
Environment=CALIBRE_DBPATH=/var/lib/calibreweb
ExecStart=/usr/bin/cps
Restart=always
User=calibreweb
Group=calibreweb

[Install]
WantedBy=default.target
