[Desktop Entry]
Name=Rider EAP
Version=
Type=Application
Exec="/opt/riderRS/bin/rider.sh" %f
Icon=/opt/riderRS/bin/Rider_128.png
Comment=A cross-platform C# IDE by JetBrains.
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-rider
