[Unit]
Description=OpenTabletDriver Daemon
StartLimitIntervalSec=300
StartLimitBurst=5
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/otd
Restart=on-failure
RestartSec=8s

[Install]
WantedBy=graphical-session.target
